@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    background-color: rgb(219, 219, 219);
    font-family: 'poppins', Arial, Helvetica, sans-serif;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.nav-right ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-right ul li img{
    margin-top: 5px;
}

.nav-right ul li a ,
.nav-left a{
    text-decoration: none;
    color: black;
}

.nav-right ul li a:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.nav-left {
    background-color: black;
    border: 2px solid black;
    border-radius: 8px;
    overflow: hidden;
    
}

.nav-left a {
    padding: 3px 13px ;
    display: block;
    color: white;
    transition: .2s ease-in-out;
}

.nav-left a:hover {
    background-color: white;
    color: black;
}

.nav-right, .nav-left {
    margin: 0 50px;
}

.container {
    margin: 20px;
    
}

.container h1 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    margin: auto;
}

form:invalid .btn button {
    opacity: .3;
    pointer-events: none;
}

:focus {
    outline: none;
    transform: scale(1.05);
}

label span {
    color: red;
}

input, select, textarea {
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
    transition: .3s ease-in-out;
}

textarea {
    min-height: 75px;
    max-height: 150px;
    resize: vertical;
}

.btn {
    text-align: end;
    margin-top: 15px;
}

.btn button {
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 5px 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}


@keyframes bound {
    from {
        transform: scale(1);
    }
    
    to {
        transform: scale(1.1);
    }
}